<br><br><br><br><br>
<div class="center">
<p-card header="{{content}}" subheader="{{category}}" [style]="{width: '960px'}" styleClass="p-card-shadow">
  <p-header>

  </p-header>
  <span *ngFor="let flag of selectedFlags">{{flag}}, </span>
  <br>
  <p style="padding-top: 20px">{{delivery}}</p>
  <p-footer>
    <div style="margin-left: 700px">
      <p-button label="Next" icon="pi pi-check" (onClick)="nextJoke()"></p-button>
      <button pButton type="button" label="Back" class="p-button-danger" (click)="back()"></button>
    </div>
  </p-footer>
</p-card>
</div>
